<%= render 'users/list', book:@book_new, user:@user %>

  <h2>Users</h2>
    <div class ="col-xs-9">
    <table class="table">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
        </tr>
      </thead>

      <tbody>
 	      <% @users.each do |user| %>
        <tr>
      	 <td><%= attachment_image_tag user, :profile_image, :fill, 50,50, format:'jpeg', fallback: "no_image.jpg", :size =>'50x50' %></td>
          <td><%= user.name %></td>
          <td>フォロー数：<%= user.followings.count %></td>
          <td>フォロワー数：<%= user.followers.count %></td>
          <td><%= render 'relationships/follow_button', user: user %></td>
          <td><%= link_to "Show", user_path(user.id) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
</div>
