<%= flash[:alert] %>
<%= flash[:notice] %>


<%= render 'users/list', book:@book_new, user:@user %>

<div class="container">
<h1>Book detail</h1>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
  </thead>

 <tbody>
      <tr>
      	<td><%= attachment_image_tag @user, :profile_image, :fill, 100,100, format:'jpeg', fallback: "no_image.jpg" %></td>
        <td><%= @book.title %></td>
        <td><%= @book.body %></td>
        <% if @book.user == current_user %>
        <td><%= link_to "Edit", edit_book_path %></td>
        <td><%= link_to 'Destroy', book_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  </tbody>
</table>
</div>