<%= flash[:alert] %>
<%= flash[:notice] %>


<%= render 'users/list', book:@book_new, user:@user %>

<h2>Book detail</h2>
<div class ="col-xs-9">
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
  </thead>

 <tbody>
      <tr>
      	<td><%= attachment_image_tag @user, :profile_image, :fill, 50,50, format:'jpeg', fallback: "no_image.jpg", :size =>'50x50' %><%= link_to @book.user.name, user_path(current_user.id) =%></td>
        <td><%= link_to @book.title, book_path %></td>
        <td><%= @book.body %></td>
        <% if @book.user == current_user %>
        <td><%= link_to "Edit", edit_book_path %></td>
        <td><%= link_to 'Destroy', book_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  </tbody>
</table>
</div>