<%= flash[:alert] %>
<%= flash[:notice] %>


<%= render 'users/list', book:@book_new, user:@user %>

<h2>Book detail</h2>
  <div class ="col-xs-9">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
      </thead>

      <tbody>
          <tr>
          	<td><%= attachment_image_tag @user, :profile_image, :fill, 50,50, format:'jpeg', fallback: "no_image.jpg", :size =>'50x50' %><%= link_to @book.user.name, user_path(current_user.id) =%></td>
            <td>
              <% if @book.favorited_by?(current_user) %>
                  <%= link_to book_favorites_path(@book), method: :delete do %>
                    <span class="fa fa-heart like-btn-unlike"></span>
                    <%= @book.favorites.count %>
                  <% end %>
              <% else %>
                  <%= link_to book_favorites_path(@book), method: :post do %>
                    <span class="fa fa-heart like-btn-unlike"></span>
                    <%= @book.favorites.count %>
                  <% end %>
              <% end %>
            </td>
            <td><%= link_to @book.title, book_path %></td>
            <td><%= @book.body %></td>
            <td>コメント数：<%= @book.book_comments.count %></td>
            <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path %></td>
            <td><%= link_to 'Destroy', book_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
       </tbody>
    </table>

    <%= form_with(model: [@book, @book_comment]) do |f| %>
      <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
    <% @book_comments.each do |book_comment| %>
      <li id="comments_buttons_<%= book_comment.id %>">
        <%= render 'books/book_comment', book_comment:book_comment %>
      </li>
    <% end %>

</div>
